.backToTop{
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    .icon-position{
        position: fixed;
        bottom: 100px;
        float: right;
    }
    .icon-style{
        background-color: #111;
        border: 1px solid #fff;
        height: 50px;
        width: 50px;
        color: #fff;
        cursor: pointer;
        animation: movebtn 3s ease-in-out infinite;
        transition: all .5s ease-in-out;
      }
    .icon-style:hover{
        animation: none;
        background: #fff;
        color: #111;
        border: 1px solid #111;
      }
    //   @keyframes movebtn {
    //     0%{
    //       transform: translateY(0px);
    //     }
    //     25%{
    //       transform: translateY(20px);
    //     }
    //     50%{
    //       transform: translateY(0px);
    //     }
    //     75%{
    //       transform: translateY(-20px);
    //     }
    //     100%{
    //       transform: translateY(0px);
    //     }
    //   }
}
